<div class="container-navbar">
    <div class="navbar">
      <img src="https://assets.stickpng.com/images/6002f9d851c2ec00048c6c78.png" alt="logo" class="logo no-pointer">
    <div class="logo-container">
      <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="fa-solid fa-bars"></i>
      </div>
     
    </div>
  
    <div class="avatar-container">
      <div class="img-container">
        <img
          src="https://scontent.fltx1-1.fna.fbcdn.net/v/t39.30808-6/340452307_546790360895498_9110435346439724949_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGq0Ydr5-UlASOf-EEhMurjCqv-mwU6SYUKq_6bBTpJhZ1ZeELhmzLZQlNcs7B4z7AskWm-o89EuNbG3SYzMemn&_nc_ohc=hoKrbqq4uFUAX9usIhy&_nc_ht=scontent.fltx1-1.fna&oh=00_AfAoeBmuqcpa4D8ImFecyyNjnFuYBbTkIZlXoMiaJWNYsg&oe=64C6BB13"
          alt=""
          class="avatar no-pointer"
        />
      </div>
      <div class="details-container">
        <div class="name">Alex Villegas</div>
        
      </div>
      <hr />
      <div class="logout-container">
        <div class="exit">
          <label
            class="logout"
        
          >
            Cerrar Sesion
          </label>
          <i
            class="fa-solid fa-right-from-bracket"
           
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  </div>
  