<div class="container">
  <div class="chat-list mat-elevation-z5">
    <div class="search-input"></div>
    <mat-selection-list [multiple]="false" [formControl]="chatListControl">

      <mat-list-option *ngFor="let chat of myChats$ | async" [value]="chat.id">
        <p mat-line class="chat-title">
          <span class="chat-name">{{ chat.chatName }}</span
          ><span class="chat-date">{{
            chat.lastMessageDate | dateDisplay
          }}</span>
        </p>
        <p mat-line>{{ chat.lastMessage }}</p>
        <hr />
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="messages mat-elevation-z5">
    <div
      class="messages-header"
      *ngIf="selectedChat$ | async as selectedChat; else noChatSelected"
    >
      <h2>{{ selectedChat.chatName }}</h2>
    </div>
    <ng-template #noChatSelected>
      <h2>Messages</h2>
    </ng-template>
    <mat-divider></mat-divider>
    <div class="chat-area">
      <ng-container *ngIf="user$ | async as currentUser">
        <ng-container *ngIf="messages$ | async as messages">
          <div
            class="chat-bubble-container"
            [ngClass]="{ sender: message.senderId === currentUser.uid }"
            *ngFor="let message of messages"
          >
            <div class="chat-bubble">
              {{ message.text }}
              <span class="chat-time">{{
                message.sentDate | dateDisplay
              }}</span>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div #endOfChat></div>
    </div>
    <div class="send-message">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Mensaje"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
          [formControl]="messageControl"
          (keydown.enter)="sendMessage()"
        />
        <span
          class="input-group-text"
          id="basic-addon2"
          style="cursor: pointer"
          (click)="sendMessage()"
          ><i class="fa fa-paper-plane" aria-hidden="true"></i
        ></span>
      </div>
    </div>
  </div>
</div>
